@import url("https://fonts.googleapis.com/css?family=Lato:400,700&display=swap");
.sidenav {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.main {
margin-left:250px;
    padding: 16px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}







.center {
    margin: auto;
    width: 50%;
    text-align:center;
}


#introduction .center {
    line-height:1;

}
#section1, #section2, #section3, #section4, #section5, #section6, #section7, #section8, #section9, #section10{

    display:none;
}
#introduction {
    display: block;
}

body {

    font: 16px/1.5 "Lato", sans-serif;

}